global:
  bucketName: "{{ .config.prefix }}-{{ .module.name }}-logs"
  google:
    hostname: "{{ .module.name }}.{{ .toutput.dns.int_domain }}"
    projectID: "{{ .toutput.crossplane.project_id }}"
    bucket:
      location: "{{ .toutput.gke.region }}"
      kmsKeyId: "{{ .toptout.kms.telemetry_key_id }}"
loki:
  gateway:
    image:
      registry: '{{ .toptout.gar-proxy.hub_registry | "docker.io" }}'
  loki:
    storage:
      bucketNames:
        admin: "{{ .config.prefix }}-{{ .module.name }}-logs"
        chunks: "{{ .config.prefix }}-{{ .module.name }}-logs"
        ruler: "{{ .config.prefix }}-{{ .module.name }}-logs"
    image:
      registry: '{{ .toptout.gar-proxy.hub_registry | "docker.io" }}'
  sidecar:
    image:
      registry: '{{ .toptout.gar-proxy.hub_registry | "docker.io" }}'
  memcached:
    image:
      repository: '{{ .toptout.gar-proxy.hub_registry | "docker.io" }}/library/memcached'
  networkPolicy:
    externalStorage:
      cidrs:
        - "0.0.0.0/0"
    ingress:
      namespaceSelector:
        matchExpressions:
          - key: kubernetes.io/metadata.name
            operator: Exists
      podSelector:
        matchExpressions:
          - key: netpol-loki
            operator: In
            values:
              - "loki"
              - "{{ .module.name }}"
