global:
  aws:
    scheme: internet-facing
    groupName: external
    additionalIngressAnnotations: {}

ingress:
  hostName: ""

targetService: ""

secretStore:
  name: ""
  kind: ClusterSecretStore

image:
  registry: docker.io/priitrent/saml-proxy
  tag: "43-20260211-1"

affinity:
  nodeAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 90
        preference:
          matchExpressions:
            - key: tools
              operator: In
              values:
                - "true"
      - weight: 10
        preference:
          matchExpressions:
            - key: mon
              operator: In
              values:
                - "true"
tolerations:
  - key: "tools"
    operator: "Equal"
    value: "true"
    effect: "NoSchedule"
  - key: "mon"
    operator: "Equal"
    value: "true"
    effect: "NoSchedule"
