spec:
  syncPolicy:
    managedNamespaceMetadata:
      labels:
        #Node exporter needs to use hostPath
        pod-security.kubernetes.io/enforce: privileged
        pod-security.kubernetes.io/warn: privileged
        tenancy.entigo.com/zone: infralib
