global:
  google:
    hostname: "{{ .module.name }}-pubkey.{{ .toutput.dns.pub_domain }}"

wireguard:
  image:
    repository: '{{ .toptout.gar-proxy.ghcr_registry | "ghcr.io" }}/bryopsida/wireguard'
  keygenJob:
    wireguardMgrImage:
      repository: '{{ .toptout.gar-proxy.ghcr_registry | "ghcr.io" }}/bryopsida/k8s-wireguard-mgr'
    image:
      repository: '{{ .toptout.gar-proxy.ghcr_registry | "ghcr.io" }}/curium-rocks/wg-kubectl'
  metrics:
      repository: '{{ .toptout.gar-proxy.hub_registry | "docker.io" }}/mindflavor/prometheus-wireguard-exporter'
  healthSideCar:
    image:
      repository: '{{ .toptout.gar-proxy.ghcr_registry | "ghcr.io" }}/bryopsida/http-healthcheck-sidecar'
  service:
    annotations:
      external-dns.alpha.kubernetes.io/hostname: "{{ .module.name }}.{{ .toutput.dns.pub_domain }}"
      hostname: "{{ .module.name }}.{{ .toutput.dns.pub_domain }}"
  extraSideCars:
    - name: pubkey
      image: '{{ .toptout.gar-proxy.hub_registry | "docker.io" }}/nginxinc/nginx-unprivileged:1.27-alpine'
      ports:
        - containerPort: 8080
          protocol: TCP
      volumeMounts:
        - name: pubkey
          mountPath: /usr/share/nginx/html/index.html
          subPath: publickey
      resources:
        requests:
          cpu: 1m
          memory: 1Mi
          ephemeral-storage: 4Mi
        limits:
          cpu: 100m
          memory: 64Mi
          ephemeral-storage: 128Mi
  volumes:
    - name: pubkey
      secret:
        secretName: "{{ .module.name }}-wg-generated-public"
