---
apiVersion: pkg.crossplane.io/v1beta1
kind: DeploymentRuntimeConfig
metadata:
  name: contrib-provider-sql
  annotations:
    argocd.argoproj.io/sync-wave: "1"
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    helm.sh/resource-policy: keep
spec:
  deploymentTemplate:
    spec:
      selector: {}
      strategy: {}
      template:
        spec:
          affinity:
            nodeAffinity:
              preferredDuringSchedulingIgnoredDuringExecution:
                - preference:
                    matchExpressions:
                      - key: tools
                        operator: In
                        values:
                          - "true"
                  weight: 90
          containers:
            - name: package-runtime
              securityContext:
                allowPrivilegeEscalation: false
                capabilities:
                  drop:
                  - ALL
              resources:
                requests:
                  cpu: 1m
                  memory: 24Mi
                limits:
                  cpu: 2000m
                  memory: 1024Mi
          securityContext:
            fsGroup: 2000
            runAsNonRoot: true
            seccompProfile:
              type: RuntimeDefault
          serviceAccountName: contrib-provider-sql
          tolerations:
            - effect: NoSchedule
              key: tools
              operator: Equal
              value: "true"
  serviceAccountTemplate:
    metadata:
      name: contrib-provider-sql
  serviceTemplate: {}
