metadata:
  annotations:
    infralib.entigo.io/sync-wave: "1"
spec:
  syncPolicy:
    syncOptions:
    - CreateNamespace=false
    - ServerSideApply=true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/enforce: restricted
        pod-security.kubernetes.io/warn: restricted
