metadata:
  annotations:
    infralib.entigo.io/sync-wave: "1"
spec:
  ignoreDifferences:
  - group: "storage.k8s.io"
    kind: StorageClass
    jsonPointers:
    - /parameters
  - group: "batch"
    kind: Job
    jsonPointers:
    - /spec/template/spec
  syncPolicy:
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/enforce: restricted
        pod-security.kubernetes.io/warn: restricted
