metadata:
  annotations:
    infralib.entigo.io/sync-wave: "1"
spec:
  ignoreDifferences:
  - group: "batch"
    kind: Job
    jsonPointers:
    - /spec/template/spec
  syncPolicy:
    syncOptions:
    - ServerSideApply=true
    managedNamespaceMetadata:
      labels:
        tenancy.entigo.com/zone: infralib
