metadata:
  annotations:
    infralib.entigo.io/sync-wave: "1"
spec:
  ignoreDifferences:
  - group: "batch"
    kind: Job
    jsonPointers:
    - /spec/template/spec
  syncPolicy:
    syncOptions:
    - ServerSideApply=true
    managedNamespaceMetadata:
      labels:
        #providers and functions need to be changed before this will work.
        pod-security.kubernetes.io/enforce: baseline
        pod-security.kubernetes.io/warn: baseline
        tenancy.entigo.com/zone: infralib
