global:
  aws:
    account: "{{ .toutput.eks.account }}"
    clusterOIDC: "{{ .toutput.eks.oidc_provider }}"
aws-load-balancer-controller:
  vpcId: "{{ .toutput.vpc.vpc_id }}"
  clusterName: "{{ .toutput.eks.cluster_name }}"
  image:
    repository: "602401143452.dkr.ecr.{{ .toutput.eks.region }}.amazonaws.com/amazon/aws-load-balancer-controller"
job:
  image: '{{ .toptout.ecr-proxy.hub_registry | "docker.io" }}/entigolabs/entigo-infralib-base'

ingressClass:
  internal:
    subnets: '{{ .toutput.vpc.control_subnets }}'
  service:
    subnets: '{{ .toutput.vpc.service_subnets }}'
  external:
    subnets: '{{ .toutput.vpc.public_subnets }}'
