metadata:
  annotations:
    infralib.entigo.io/sync-wave: "2"
spec:
  ignoreDifferences:
  - group: ""
    kind: Secret
    name: aws-load-balancer-tls
    jsonPointers:
    - /data
  - group: admissionregistration.k8s.io
    kind: MutatingWebhookConfiguration
    name: aws-load-balancer-webhook
    jqPathExpressions:
    - '.webhooks[]?.clientConfig.caBundle'
  - group: admissionregistration.k8s.io
    kind: ValidatingWebhookConfiguration
    name: aws-load-balancer-webhook
    jqPathExpressions:
    - '.webhooks[]?.clientConfig.caBundle'
  - group: "batch"
    kind: Job
    jsonPointers:
    - /spec/template/spec
  syncPolicy:
    syncOptions:
    - ServerSideApply=true
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/enforce: restricted
        pod-security.kubernetes.io/warn: restricted
        tenancy.entigo.com/zone: infralib
