global:
  providerConfigRefName: crossplane-aws
  aws:
    account: ""
    clusterOIDC: ""

aws-load-balancer-controller:
  defaultTags:
    created-by: "entigo-infralib"
  serviceAccount:
    name: aws-load-balancer-controller
    create: false

  podSecurityContext:
    fsGroup: 65534
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
  securityContext:
    readOnlyRootFilesystem: true
    runAsNonRoot: true
    allowPrivilegeEscalation: false
    capabilities:
      drop:
      - ALL

  affinity:
    nodeAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 90
        preference:
          matchExpressions:
          - key: tools
            operator: In
            values:
            - "true"
  tolerations:
      - key: "tools"
        operator: "Equal"
        value: "true"
        effect: "NoSchedule"
  resources: 
    limits:
      cpu: 1000m
      memory: 512Mi
      ephemeral-storage: 1Gi
    requests:
      cpu: 4m
      memory: 40Mi
      ephemeral-storage: 10Mi
  ingressClassConfig:
    default: true
  
  deploymentAnnotations:
    kube-score/ignore: pod-networkpolicy,pod-probes
job:
  image: docker.io/entigolabs/entigo-infralib-kubectl
  tag: "v1.17.8"

ingressClass:
  tags: {}
  internal:
    enabled: true
    subnets: ""
  service:
    enabled: true
    subnets: ""
  external:
    enabled: true
    subnets: ""
