{{- if eq .Values.global.cloudProvider "google" }}

kind: HTTPRoute
apiVersion: gateway.networking.k8s.io/v1beta1
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Name }}
spec:
  parentRefs:
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: {{ .Values.global.google.gateway.name }}
      sectionName: https
      namespace: {{ .Values.global.google.gateway.namespace }}
  hostnames: [ {{ .Values.global.google.hostname }} ]
  rules:
    - backendRefs:
        - group: ''
          kind: Service
          name: {{ .Release.Name }}-server
          port: 80
          weight: 1
      matches:
      - path:
          type: PathPrefix
          value: /
{{- end }}
