apiVersion: pkg.crossplane.io/v1beta1
kind: DeploymentRuntimeConfig
metadata:
  name: {{ .Release.Name }}-family
  annotations:
    argocd.argoproj.io/sync-wave: '1'
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    helm.sh/resource-policy: keep
spec:
  deploymentTemplate:
    spec:
      selector: {}
      strategy: {}
      template:
        spec:
          affinity:
            nodeAffinity:
              preferredDuringSchedulingIgnoredDuringExecution:
                - preference:
                    matchExpressions:
                      - key: tools
                        operator: In
                        values:
                          - 'true'
                  weight: 90
          containers:
            - name: package-runtime
              securityContext: {}
              args:
                {{- with .Values.global.deploymentRuntimeConfig.args }}
                {{- toYaml . | nindent 16 }}
                {{- end }}
              resources:
                requests:
                  cpu: 3m
                  memory: 130Mi
                limits:
                  cpu: 2000m
                  memory: 1024Mi
          securityContext:
            fsGroup: 2000
          serviceAccountName: {{ .Release.Name }}
          tolerations:
            - effect: NoSchedule
              key: tools
              operator: Equal
              value: 'true'
  serviceTemplate: {}
  serviceAccountTemplate:
    metadata:
      name: {{ .Release.Name }}
      annotations:
        iam.gke.io/gcp-service-account: {{ .Values.global.deploymentRuntimeConfig.googleServiceAccount }}
---
apiVersion: pkg.crossplane.io/v1beta1
kind: DeploymentRuntimeConfig
metadata:
  name: {{ .Release.Name }}
  annotations:
    argocd.argoproj.io/sync-wave: '1'
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    helm.sh/resource-policy: keep
spec:
  deploymentTemplate:
    spec:
      selector: {}
      strategy: {}
      template:
        spec:
          affinity:
            nodeAffinity:
              preferredDuringSchedulingIgnoredDuringExecution:
                - preference:
                    matchExpressions:
                      - key: tools
                        operator: In
                        values:
                          - 'true'
                  weight: 90
          containers:
            - name: package-runtime
              securityContext: {}
              args:
                {{- with .Values.global.deploymentRuntimeConfig.args }}
                {{- toYaml . | nindent 16 }}
                {{- end }}
              resources:
                requests:
                  cpu: 3m
                  memory: 130Mi
                limits:
                  cpu: 2000m
                  memory: 1024Mi
          securityContext:
            fsGroup: 2000
          serviceAccountName: {{ .Release.Name }}
          tolerations:
            - effect: NoSchedule
              key: tools
              operator: Equal
              value: 'true'
  serviceTemplate: {}
