apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
spec:
  ports:
    - name: http
      port: 80
      targetPort: http-service
    - name: https
      port: 443
      targetPort: https-service
  selector:
    app: {{ .Release.Name }}
