spec:
  syncPolicy:
    syncOptions:
    - ServerSideApply=true
    - CreateNamespace=false
    managedNamespaceMetadata:
      labels:
        pod-security.kubernetes.io/enforce: restricted
        pod-security.kubernetes.io/warn: restricted
