{{- if .Values.ingressClass.internal.enabled }}
apiVersion: elbv2.k8s.aws/v1beta1
kind: IngressClassParams
metadata:
  name: internal
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  group:
    name: internal
  {{- if .Values.ingressClass.internal.subnets }}
  subnets:
    ids:
      {{- range split "," .Values.ingressClass.internal.subnets }}
      - {{ . | trim | trimAll "\"" }}
      {{- end }}
  {{- end }}
  scheme: internal
  targetType: ip
  {{- if .Values.ingressClass.tags }}
  tags:
    {{- toYaml .Values.ingressClass.tags | nindent 4 }}
  {{- end }}
---
apiVersion: networking.k8s.io/v1
kind: IngressClass
metadata:
  name: internal
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  controller: ingress.k8s.aws/alb
  parameters:
    apiGroup: elbv2.k8s.aws
    kind: IngressClassParams
    name: internal
---
apiVersion: elbv2.k8s.aws/v1beta1
kind: IngressClassParams
metadata:
  name: internal-nogroup
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  {{- if .Values.ingressClass.internal.subnets }}
  subnets:
    ids:
      {{- range split "," .Values.ingressClass.internal.subnets }}
      - {{ . | trim | trimAll "\"" }}
      {{- end }}
  {{- end }}
  scheme: internal
  targetType: ip
  {{- if .Values.ingressClass.tags }}
  tags:
    {{- toYaml .Values.ingressClass.tags | nindent 4 }}
  {{- end }}
---
apiVersion: networking.k8s.io/v1
kind: IngressClass
metadata:
  name: internal-nogroup
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  controller: ingress.k8s.aws/alb
  parameters:
    apiGroup: elbv2.k8s.aws
    kind: IngressClassParams
    name: internal-nogroup
{{- end }}
{{- if .Values.ingressClass.service.enabled }}
---
apiVersion: elbv2.k8s.aws/v1beta1
kind: IngressClassParams
metadata:
  name: service
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  group:
    name: service
  {{- if .Values.ingressClass.service.subnets }}
  subnets:
    ids:
      {{- range split "," .Values.ingressClass.service.subnets }}
      - {{ . | trim | trimAll "\"" }}
      {{- end }}
  {{- end }}
  scheme: internal
  targetType: ip
  {{- if .Values.ingressClass.tags }}
  tags:
    {{- toYaml .Values.ingressClass.tags | nindent 4 }}
  {{- end }}
---
apiVersion: networking.k8s.io/v1
kind: IngressClass
metadata:
  name: service
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  controller: ingress.k8s.aws/alb
  parameters:
    apiGroup: elbv2.k8s.aws
    kind: IngressClassParams
    name: service
---
apiVersion: elbv2.k8s.aws/v1beta1
kind: IngressClassParams
metadata:
  name: service-nogroup
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  {{- if .Values.ingressClass.service.subnets }}
  subnets:
    ids:
      {{- range split "," .Values.ingressClass.service.subnets }}
      - {{ . | trim | trimAll "\"" }}
      {{- end }}
  {{- end }}
  scheme: internal
  targetType: ip
  {{- if .Values.ingressClass.tags }}
  tags:
    {{- toYaml .Values.ingressClass.tags | nindent 4 }}
  {{- end }}
---
apiVersion: networking.k8s.io/v1
kind: IngressClass
metadata:
  name: service-nogroup
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  controller: ingress.k8s.aws/alb
  parameters:
    apiGroup: elbv2.k8s.aws
    kind: IngressClassParams
    name: service-nogroup
{{- end }}
{{- if .Values.ingressClass.external.enabled }}
---
apiVersion: elbv2.k8s.aws/v1beta1
kind: IngressClassParams
metadata:
  name: external
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  group:
    name: external
  {{- if .Values.ingressClass.external.subnets }}
  subnets:
    ids:
      {{- range split "," .Values.ingressClass.external.subnets }}
      - {{ . | trim | trimAll "\"" }}
      {{- end }}
  {{- end }}
  scheme: internet-facing
  targetType: ip
  {{- if .Values.ingressClass.tags }}
  tags:
    {{- toYaml .Values.ingressClass.tags | nindent 4 }}
  {{- end }}
---
apiVersion: networking.k8s.io/v1
kind: IngressClass
metadata:
  name: external
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  controller: ingress.k8s.aws/alb
  parameters:
    apiGroup: elbv2.k8s.aws
    kind: IngressClassParams
    name: external
---
apiVersion: elbv2.k8s.aws/v1beta1
kind: IngressClassParams
metadata:
  name: external-nogroup
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  {{- if .Values.ingressClass.external.subnets }}
  subnets:
    ids:
      {{- range split "," .Values.ingressClass.external.subnets }}
      - {{ . | trim | trimAll "\"" }}
      {{- end }}
  {{- end }}
  scheme: internet-facing
  targetType: ip
  {{- if .Values.ingressClass.tags }}
  tags:
    {{- toYaml .Values.ingressClass.tags | nindent 4 }}
  {{- end }}
---
apiVersion: networking.k8s.io/v1
kind: IngressClass
metadata:
  name: external-nogroup
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  controller: ingress.k8s.aws/alb
  parameters:
    apiGroup: elbv2.k8s.aws
    kind: IngressClassParams
    name: external-nogroup
{{- end }}
