global:
  prefix: ""
  cloudProvider: ""
  providerConfigRefName: ""
  google:
    projectID: ""

trivy-operator:
  serviceAccount:
    name: "trivy"
  service:
    headless: true
    annotations:
      prometheus.io/scrape: "true"
      prometheus.io/port: "8080"
      prometheus.io/path: "/metrics"
  resources:
    requests:
      cpu: 5m
      memory: 50Mi
    limits:
      cpu: 100m
      memory: 256Mi
  trivyOperator:
    scanJobAutomountServiceAccountToken: true
    scanJobCompressLogs: true
    scanJobAffinity:
      nodeAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 50
            preference:
              matchExpressions:
                - key: mon
                  operator: In
                  values:
                    - "true"
          - weight: 50
            preference:
              matchExpressions:
                - key: tools
                  operator: In
                  values:
                    - "true"
    scanJobTolerations:
      - key: "mon"
        operator: "Equal"
        value: "true"
        effect: "NoSchedule"
      - key: "tools"
        operator: "Equal"
        value: "true"
        effect: "NoSchedule"
  trivy:
    slow: true
    # severity: UNKNOWN,LOW,MEDIUM,HIGH,CRITICAL
    severity: HIGH,CRITICAL
    resources:
      requests:
        cpu: 200m
        memory: 400Mi
      limits:
        cpu: 1
        memory: 2Gi

  operator:
    scanJobsConcurrentLimit: 1
    scanJobTimeout: 20m
    metricsFindingsEnabled: false
    metricsVulnIdEnabled: false
    exposedSecretScannerEnabled: false
    sbomGenerationEnabled: false
    configAuditScannerEnabled: false
    rbacAssessmentScannerEnabled: false
    infraAssessmentScannerEnabled: false
    clusterComplianceEnabled: false

  affinity:
    nodeAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 90
          preference:
            matchExpressions:
              - key: mon
                operator: In
                values:
                  - "true"
        - weight: 10
          preference:
            matchExpressions:
              - key: tools
                operator: In
                values:
                  - "true"
  tolerations:
    - key: "mon"
      operator: "Equal"
      value: "true"
      effect: "NoSchedule"
    - key: "tools"
      operator: "Equal"
      value: "true"
      effect: "NoSchedule"

  nodeCollector:
    tolerations:
      - key: "mon"
        operator: "Equal"
        value: "true"
        effect: "NoSchedule"
      - key: "tools"
        operator: "Equal"
        value: "true"
        effect: "NoSchedule"
