apiVersion: pkg.crossplane.io/v1
kind: Provider
metadata:
  name: upbound-provider-family-aws
  annotations:
    argocd.argoproj.io/sync-wave: '2'
    helm.sh/resource-policy: keep
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  package: xpkg.upbound.io/upbound/provider-family-aws:v2.2.0
  runtimeConfigRef:
    name: {{ .Release.Name }}

# Build the final list of providers based on conditions
{{- $allProviders := list }}

# Always include requiredProviders and extraProviders
{{- $allProviders = concat $allProviders .Values.global.requiredProviders }}
{{- $allProviders = concat $allProviders .Values.global.extraProviders }}

# Add observerProviders if observers are enabled
{{- if or .Values.global.createObservers .Values.global.createNamespacedObservers }}
  {{- $allProviders = concat $allProviders .Values.global.observerProviders }}
{{- end }}

# Deduplicate the list
{{- $uniqueProviders := list }}
{{- range $provider := $allProviders }}
  {{- if not (has $provider $uniqueProviders) }}
    {{- $uniqueProviders = append $uniqueProviders $provider }}
  {{- end }}
{{- end }}

# Create Provider resources for each unique provider
{{- range $index, $provider := $uniqueProviders }}
---
apiVersion: pkg.crossplane.io/v1
kind: Provider
metadata:
  name: upbound-provider-aws-{{ $provider }}
  annotations:
    argocd.argoproj.io/sync-wave: '{{ add 5 (div $index 5) }}'
    helm.sh/resource-policy: keep
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  skipDependencyResolution: true
  package: xpkg.upbound.io/upbound/provider-aws-{{ $provider }}:v2.2.0
  runtimeConfigRef:
    name: {{ $.Release.Name }}
{{- end }}



