logs:
  image:
    registry: '{{ .toptout.gar-proxy.hub_registry | "docker.io" }}'
  configReloader:
    image:
      registry: '{{ .toptout.gar-proxy.quay_registry | "quay.io" }}'
  networkPolicy:
    egress:
      - ports:
          - port: 53
            protocol: UDP
          - port: 53
            protocol: TCP
        to:
          - namespaceSelector:
              matchLabels:
                kubernetes.io/metadata.name: kube-system
      - ports:
          - port: 80
            protocol: TCP
          - port: 8080
            protocol: TCP
        to:
          - namespaceSelector: {}
            podSelector:
              matchLabels:
                app.kubernetes.io/name: loki
                app.kubernetes.io/component: gateway
      - ports:
          - port: 443
            protocol: TCP
        to:
          - ipBlock:
              cidr: "{{ .toutput.gke.master_ipv4_cidr_block }}"
